/*Esta configuração garante que todos os elementos tanto na vertical como na horizontal fiquem alinhados ao centro.*/
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}